@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>职员管理</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/content/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="/content/assets/css/select2.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="/content/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="/content/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="/content/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="/content/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/content/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/content/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="/content/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="/content/assets/js/html5shiv.min.js"></script>
    <script src="/content/assets/js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="main-container ace-save-state" id="main-container">
        <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
        </script>
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
                            <div class="clearfix">
                                <button class="btn btn-white btn-info btn-bold" id="s_btnAdd">
                                    <i class="ace-icon glyphicon  glyphicon-plus bigger-120 blue"></i>
                                    新增
                                </button>
                                <button class="btn btn-white btn-info btn-bold" id="s_btnEdit">
                                    <i class="ace-icon glyphicon glyphicon-edit bigger-120 blue"></i>
                                    编辑
                                </button>
                                <button class="btn btn-white btn-info btn-bold" id="s_btnEditPwd">
                                    <i class="ace-icon glyphicon glyphicon-edit bigger-120 blue"></i>
                                    密码重置
                                </button>
                                <button class="btn btn-white btn-info btn-bold" id="s_btnRole">
                                    <i class="ace-icon glyphicon glyphicon-user bigger-120 blue"></i>
                                    角色
                                </button>
                                <button class="btn btn-white btn-info btn-bold" id="s_btnSecurity">
                                    <i class="ace-icon glyphicon glyphicon-lock bigger-120 blue"></i>
                                    授权
                                </button>
                                <button class="btn btn-white btn-info btn-bold" id="s_btnDel">
                                    <i class="ace-icon glyphicon glyphicon-remove bigger-120 red"></i>
                                    删除
                                </button>
                            </div>

                            <div class="hr dotted"></div>

                            <div>
                                <div class="row search-page" id="search-page-1">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-3">
                                                <div class="search-area well well-sm">
                                                    <div class="search-filter-header bg-primary">
                                                        <h5 class="smaller no-margin-bottom">
                                                            <i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Staff
                                                        </h5>
                                                    </div>

                                                    <div class="space-10"></div>

                                                    <div class="hr hr-dotted"></div>

                                                    <h4 class="blue smaller">
                                                        <i class="fa fa-tags"></i>
                                                        职员管理
                                                    </h4>

                                                    <div class="tree-container">
                                                        <ul id="staff-easyui-tree" style="height:280px;">正在加载...</ul>
                                                    </div>

                                                    <div class="hr hr-dotted"></div>

                                                </div>
                                            </div>

                                            <div class="col-xs-9 col-sm-9">
                                                <div class="row">
                                                    <div class="search-area well col-xs-12">
                                                        <div class="widget-box">
                                                            <div class="widget-header">
                                                                <h4 class="widget-title">职员详情</h4>
                                                            </div>
                                                            <div class="widget-body">
                                                                <div id="staffdepartmentpanel" class="widget-main" style="padding-left:53px;">
                                                                    <form class="form-horizontal" role="form">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称: </label>
                                                                            <div class="col-sm-9">
                                                                                <p id="staff_dtxtName" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 排序ID: </label>
                                                                            <div class="col-sm-9">
                                                                                <p id="staff_dtxtOrderId" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 电话号码: </label>
                                                                            <div class="col-sm-9">
                                                                                <p id="staff_dtxtPhone" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 分机号码: </label>
                                                                            <div class="col-sm-9">
                                                                                <p id="staff_dtxtExtNumber" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 传真号码: </label>
                                                                            <div class="col-sm-9">
                                                                                <p id="staff_dtxtFax" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 备注: </label>
                                                                            <div class="col-sm-9">
                                                                                <p id="staff_dtxtaRemark" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                                <div id="staffpanel" class="widget-main" style="padding-left:53px;">
                                                                    <form class="form-horizontal" role="form">
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 登陆Id: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffLoginId" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 姓名: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffName" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 已禁用: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffDisabled" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 排序ID: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffOrderId" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 身份证号: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffIdCard" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 编号: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffCode" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 最高学历: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffDegree" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 性别: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffSex" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 政治面貌: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffPolitical" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 婚否: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffMarried" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 出生日期: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffBirthday" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 国籍: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffCountry" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 入职日期: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffEntersDay" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 民族: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffNation" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 离职日期: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffLeavesDay" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 职位: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffPosition" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 办公电话: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffOfficePhone" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 职称: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffTitle" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 分机号码: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffExtNumber" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 手机: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffCellPhone" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 家庭电话: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffFamilyPhone" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Email: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffEmail" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 邮政编码: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtStaffZipCode" class="form-control-static"></p>
                                                                            </div>
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 备注: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtaStaffRemark" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-group-sm">
                                                                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 家庭地址: </label>
                                                                            <div class="col-sm-3">
                                                                                <p id="txtaStaffAddress" class="form-control-static"></p>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space-12"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- PAGE CONTENT ENDS -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->
    </div>
</body>
</html>
<link rel="stylesheet" type="text/css" href="~/Content/Scripts/jquery-easyui/themes/default/tree.css">
<script type="text/javascript" src="~/Content/Scripts/jquery-easyui/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/Scripts/jquery-easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/Content/Scripts/layer/layer.js"></script>
<script type="text/javascript" src="~/Areas/SystemSecurity/Content/Scripts/staffmgr.js"></script>

<script type="text/javascript">

    function staffmgrwinclose() {
        layer.closeAll();
        Staffmgr.LoadTree();
    }

</script>