@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>角色赋值</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Scripts/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Scripts/jquery-easyui/themes/icon.css">
    <script type="text/javascript" src="~/Content/Scripts/jquery-easyui/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/jquery-easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/layer/layer.js"></script>
    <link rel="stylesheet" href="/content/assets/css/bootstrap.min.css" />
    <style type="text/css">
        .formbottom {
            position: fixed;
            bottom: 0px;
            padding-left: 83px;
            background-color: #ccc;
            width: 100%;
            height: 33px;
            opacity: 0.9;
        }

        .ultree {
            font-size: 12px;
            padding-left: 13px;
            padding-bottom: 36px;
        }
    </style>
</head>
<body>
    <div>
        <input type="hidden" value="@ViewBag.loginId" id="loginId" />
        <ul id="roles-easyui-tree" class="ultree"></ul>
        <div class="formbottom">
            <input type="button" class="btn btn-primary" id="rolesBtnOK" value="确定" />
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        //角色赋权
        $("#rolesBtnOK").bind("click", function () {
            //获取肯定权限 以 | 隔开
            var nodes = $("#roles-easyui-tree").tree('getChecked');
            if (nodes.length > 0) {
                var loginId = $("#loginId").val();
                var grantRoles='';
                $.each(nodes, function (i, n) { grantRoles += "|" + n.id });
                $.post('/StaffMgr/RolesUpdate',{Id:loginId,sRoleIds:grantRoles}, function (data) {
                    if (data == "1") {
                        layer.msg("操作成功", { time: 500 }, function () {
                            parent.staffmgrwinclose();
                        })
                    }
                    else { layer.msg("操作失败：" + data); }
                })
            }
            else { layer.msg("请选择权限"); }
        })
        //绑定tree
        $("#roles-easyui-tree").tree({
            url: '/StaffMgr/RolesTree/' + $("#loginId").val(),
            checkbox: true,
            lines:true,
            onlyLeafCheck: true,
            method: 'post',
            onLoadSuccess: function () {
                //默认展开所有节点
                $("#roles-easyui-tree").tree("expandAll");
            }
        })
    })

</script>