@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SysCodeInfo</title>
    <link type="text/css" href="~/Content/css/info.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Content/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">

        function onsuccess(data) {
            if (data == "1") {
                alert("操作成功");
                parent.staffPwdWinclose();
            }
            else { alert("error"); }
        }

    </script>
    <div class="container">
        @using (Ajax.BeginForm("UpdatePassword", "StaffMgr", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "onsuccess(data);" }))
        {
            @Html.ValidationSummary(true)

            <input name="loginId" type="hidden" value="@ViewBag.loginId">
            <table>
                <tr>
                    <td>密码:</td>
                    <td>
                        <input type="password" name="pwd" id="pwd" data-val="true" data-val-required="密码不能为空！" />
                        <div class="requiredspan" data-valmsg-for="pwd" data-valmsg-replace="true"></div>
                    </td>
                </tr>
                <tr>
                    <td>密码确认:</td>
                    <td>
                        <input type="password" name="Password1" id="Password1" data-val="true" data-val-required="确认密码不能为空！" data-val-equalto="密码和确认密码不匹配。" data-val-equalto-other="pwd" />
                        <div class="requiredspan" data-valmsg-for="Password1" data-valmsg-replace="true"></div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="确定" /></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>