@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>重置密码</title>
    <script src="~/Content/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/layer/layer.js"></script>
    <script type="text/javascript">

        function departmentsuccess(data) {
            if (data == "1") {

                layer.msg("操作成功", { time: 500 }, function () {
                    parent.staffmgrwinclose();
                })
            }
            else { layer.msg(data); }
        }

    </script>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/content/assets/css/bootstrap.min.css" />
    <style type="text/css">
        .validation-summary-valid {
            display: none;
        }

        .validation-summary-errors {
            display: block;
        }
    </style>
</head>
<body>
    <p></p>
    <div class="container">
        @using (Ajax.BeginForm("UpdatePassword", "StaffMgr", null, new AjaxOptions { HttpMethod = "post", OnSuccess = "onsuccess(data);" }, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
            <input name="loginId" type="hidden" value="@ViewBag.loginId">
            <div class="form-group form-group-sm">
                <label class="col-xs-2 control-label text-right" for="loginid">密码:</label>
                <div class="col-xs-6">
                    <input type="password" name="pwd" id="pwd" class="form-control" value="" data-val="true" data-val-required="密码不能为空！" />
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="col-xs-2 control-label text-right" for="loginid">密码确认:</label>
                <div class="col-xs-6">
                    <input type="password" name="npwd" id="npwd" class="form-control" data-val="true" data-val-required="确认密码不能为空！" data-val-equalto="密码和确认密码不匹配。" data-val-equalto-other="pwd" />
                </div>
            </div>
                <div class="form-group form-group-sm">
                    <label class="col-xs-2 control-label text-right" for=""></label>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </div>
        }
    </div>
</body>
</html>