@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>欢迎页面</title>
</head>
<body>
    <div>
        <h2>~Welcome</h2>
    </div>
</body>
</html>
